/* Support older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Typography */
.header-2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
}

.body-2 {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.bolder {
  font-weight: 500;
}

/* Colors */
.b300 {
  color: #7f8cff;
}

.n600 {
  color: #344563;
}

.n800 {
  color: #172b4d;
}
